<!DOCTYPE html>
<html data-ng-app="loraserialhostApp">
  <head>
	<title>LoRa Serial Host</title>
	<link rel="stylesheet" media="all" href="css/bootstrap-3.3.5.css">
	<link rel="stylesheet" media="all" href="css/main.css">
	<script src="js/jquery-2.1.4.min.js"></script>
	<script src="js/bootstrap-3.3.5.min.js"></script>
	<script src="js/angular-1.4.4.min.js"></script>
	<script src="js/app.js"></script>
  </head>
  <body data-ng-controller="MainCtrl">
	<div id="header">
	  <button class="btn btn-default pull-right" title="Close" data-ng-click="closeApp()">x</button>
	  <h3 class="text-center">{{title}}</h3>
	</div>
	<div class="container-fluid">
	  <div class="row">
		<div class="col-md-4">
		  <div class="panel panel-default">
			<div class="panel-heading clearfix">
			  <h3 class="panel-title pull-left" id="ports-header">Ports</h3>
			  <button class="btn btn-primary btn-sm pull-right" data-ng-click="refreshPorts()">Refresh</button>
			</div>
			<div class="panel-body">
			  <ul class="list-group">
				<li class="list-group-item port-item{{port.active === true ? ' active' : ''}}" data-ng-repeat="port in ports">
				  {{port.name}}
				  <button class="btn btn-success btn-sm pull-right" data-ng-style="{'display': (port.hidden === false ? 'block' : 'none')}" data-ng-click="connect(port)">connect</button>
				  <button class="btn btn-danger btn-sm pull-right" data-ng-style="{'display': (port.active === true ? 'block' : 'none')}" data-ng-click="disconnect(port)">disconnect</button>
				</li>
			  </ul>
			</div>
		  </div>
		  <div class="panel panel-default">
			<div class="panel-heading clearfix">
			  <h3 class="panel-title pull-left">Commands</h3>
			</div>
			<div class="panel-body">
			  <div class="btn-group command-item">
				<button class="btn btn-default" data-ng-click="readContinuous()">Read</button>
				<button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
				  <span class="caret"></span>
				</button>
				<ul class="dropdown-menu">
				  <li><a href="#" data-ng-click="readLines(1)">1 line</a></li>
				  <li><a href="#" data-ng-click="readLines(10)">10 lines</a></li>
				</ul>
			  </div>
			  <button class="btn btn-danger pull-right" data-ng-click="readStop()">Stop</button>
			  <div class="input-group">
				<span class="input-group-btn">
				  <button class="btn btn-default" data-ng-click="sendMsg(send.text)">Send</button>
				</span>
				<input class="form-control" type="text" placeholder="Message" data-ng-model="send.text">
			  </div>
			</div>
		  </div>
		</div>
		<div class="col-md-8">
		  <textarea class="form-control" id="log-area" rows="20" readonly>{{log}}</textarea>
		</div>
	  </div>
	</div>
  </body>
</html>
